.contact-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: #ddd;
  padding: 25px 25px 0px 25px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 80px;
  transition: box-shadow 0.2s ease-in-out;

  h1 {
    text-align: center;
  }

  .info {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    margin-bottom: 10px;

    .phone-info {
      margin-left: 20px;
      margin-top: 5px;
    }
  }

  &:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 10px 10px 2px 2px lightgray;
  }

  form {
    margin-top: 0px;
    padding-top: 0px;
  }
}
