<div class="contact-container">
  <h1>{{ contact.name }}</h1>
  <div class="info" *ngIf="contact.address">Address: {{ contact.address }}</div>

  <div class="info" *ngIf="contact.mobile || contact.work || contact.home">
    Phone:
    <div class="info" *ngIf="contact.mobile">Mobile: {{ contact.mobile }}</div>

    <div class="info" *ngIf="contact.work">Work: {{ contact.work }}</div>

    <div class="info" *ngIf="contact.home">Home: {{ contact.home }}</div>
  </div>

  <div class="info" *ngIf="contact.email">Email: {{ contact.email }}</div>

  <div class="info" *ngIf="contact.twitter">Twitter: {{ contact.twitter }}</div>

  <div class="info" *ngIf="contact.instagram">
    Instagram: {{ contact.instagram }}
  </div>

  <div class="info" *ngIf="contact.github">Github: {{ contact.github }}</div>

  <form>
    <button class="btn" routerLink="/contacts/{{ contact.id }}/edit">
      Edit
    </button>
    <button class="btn" (click)="delete()">
      Delete
    </button>
  </form>
</div>
