<div class="header">
  <div class="title">
    <h1>
      ROLODEX
    </h1>
  </div>

  <div class="links">
    <div class="header-left">
      <h2>
        <a routerLink="/">Home</a>
      </h2>

      <h2>
        <a routerLink="/contacts">View All Contacts</a>
      </h2>

      <h2>
        <a routerLink="/contacts/new">Create Contacts</a>
      </h2>

      <h2>
        <a routerLink="/profile">My Profile</a>
      </h2>
    </div>

    <div class="header-right">
      <div class="logged-in" *ngIf="isLoggedIn()">
        <h2>
          {{ user.username }}
        </h2>
        <button class="btn" (click)="logout()">
          Logout
        </button>
      </div>

      <div class="logged-out" *ngIf="!isLoggedIn()">
        <button class="btn" routerLink="/login">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
