<form>
  <div>
    <label for="username">Username:</label>
  </div>
  <input
    type="text"
    name="username"
    [class.error]="isUsernameInvalid && username.touched"
    [(ngModel)]="formData.username"
    (keyup)="validateUsername()"
    #username="ngModel"
  />

  <div>
    <label for="password">Password:</label>
  </div>
  <input
    type="password"
    name="password"
    [class.error]="isPasswordInvalid && password.touched"
    [(ngModel)]="formData.password"
    (keyup)="validatePassword()"
    #password="ngModel"
  />

  <div>
    <button
      class="btn"
      (click)="login()"
      [disabled]="isUsernameInvalid || isPasswordInvalid"
    >
      Login
    </button>
  </div>

  <div>
    Don't have an account?
    <div>
      <button class="btn" routerLink="/register">Register here</button>
    </div>
  </div>
</form>
