<h1>Register Page</h1>

<form>
  <div>
    <label for="name">Name:</label>
  </div>
  <input
    type="text"
    name="name"
    [(ngModel)]="this.formData.name"
    (keyup)="validateName()"
    #name="ngModel"
    [class.error]="isNameInvalid && name.touched"
  />

  <div>
    <label for="username">Username:</label>
  </div>
  <input
    type="text"
    name="username"
    [(ngModel)]="this.formData.username"
    (keyup)="validateUsername()"
    #username="ngModel"
    [class.error]="isUsernameInvalid && username.touched"
  />

  <div>
    <label for="password">Password:</label>
  </div>
  <input
    type="password"
    name="password"
    [(ngModel)]="this.formData.password"
    (keyup)="validatePassword()"
    #password="ngModel"
    [class.error]="isPasswordInvalid && password.touched"
  />

  <div>
    <label for="email">Email:</label>
  </div>
  <input
    type="text"
    name="email"
    [(ngModel)]="this.formData.email"
    (keyup)="validateEmail()"
    #email="ngModel"
    [class.error]="isEmailInvalid && email.touched"
  />

  <div>
    <label for="address">Address:</label>
  </div>
  <input
    type="text"
    name="address"
    [(ngModel)]="this.formData.address"
    (keyup)="validateAddress()"
    #address="ngModel"
    [class.error]="isAddressInvalid && address.touched"
  />

  <div>
    <button
      class="btn"
      (click)="this.register()"
      [disabled]="
        isNameInvalid ||
        isUsernameInvalid ||
        isPasswordInvalid ||
        isEmailInvalid ||
        isAddressInvalid
      "
    >
      Register
    </button>
  </div>
</form>
