<h1>Edit Contact: {{ contact.name }}</h1>

<form class="contact-form">
  <div>
    <label for="address">Address:</label>
  </div>
  <input
    type="text"
    value="{{ contact.address }}"
    [(ngModel)]="editedContact.address"
  />

  <div>
    Phone:
    <div>
      <Label for="mobile">Mobile:</Label>
    </div>
    <input
      type="text"
      value="{{ contact.mobile }}"
      [(ngModel)]="editedContact.mobile"
    />

    <div>
      <Label for="work">Work:</Label>
    </div>
    <input
      type="text"
      value="{{ contact.work }}"
      [(ngModel)]="editedContact.work"
    />

    <div>
      <Label for="home">Home:</Label>
    </div>
    <input
      type="text"
      value="{{ contact.home }}"
      [(ngModel)]="editedContact.home"
    />
  </div>

  <div>
    <Label for="email">Email:</Label>
  </div>
  <input
    type="text"
    value="{{ contact.email }}"
    [(ngModel)]="editedContact.email"
  />

  <div>
    <Label for="twitter">Twitter:</Label>
  </div>
  <input
    type="text"
    value="{{ contact.twitter }}"
    [(ngModel)]="editedContact.twitter"
  />

  <div>
    <Label for="instagram">Instagram:</Label>
  </div>
  <input
    type="text"
    value="{{ contact.instagram }}"
    [(ngModel)]="editedContact.instagram"
  />

  <div>
    <Label for="github">Github:</Label>
  </div>
  <input
    type="text"
    value="{{ contact.github }}"
    [(ngModel)]="editedContact.github"
  />

  <button (click)="edit()">
    Edit
  </button>
  <button (click)="delete()">
    Delete
  </button>
</form>
