<form class="edit-contact-form contact-form">
  <h1>Edit Contact</h1>
  <div class="input-container">
    <div class="left">
      <div>
        <label for="name">Name:</label>
      </div>
      <input type="text" name="name" [(ngModel)]="editedContact.name" />

      <div>
        <label for="address">Address:</label>
      </div>
      <input type="text" name="address" [(ngModel)]="editedContact.address" />

      <div>
        <h2>
          Phone:
        </h2>
        <div>
          <Label for="mobile">Mobile:</Label>
        </div>
        <input type="text" name="mobile" [(ngModel)]="editedContact.mobile" />

        <div>
          <Label for="work">Work:</Label>
        </div>
        <input type="text" name="work" [(ngModel)]="editedContact.work" />

        <div>
          <Label for="home">Home:</Label>
        </div>
        <input type="text" name="home" [(ngModel)]="editedContact.home" />
      </div>
    </div>

    <div class="right">
      <div>
        <Label for="email">Email:</Label>
      </div>
      <input type="text" name="email" [(ngModel)]="editedContact.email" />

      <div>
        <Label for="twitter">Twitter:</Label>
      </div>
      <input type="text" name="twitter" [(ngModel)]="editedContact.twitter" />

      <div>
        <Label for="instagram">Instagram:</Label>
      </div>
      <input
        type="text"
        name="instagram"
        [(ngModel)]="editedContact.instagram"
      />

      <div>
        <Label for="github">Github:</Label>
      </div>
      <input type="text" name="github" [(ngModel)]="editedContact.github" />
    </div>
  </div>

  <button class="btn" (click)="edit()">
    Edit
  </button>
  <button class="btn" (click)="delete()">
    Delete
  </button>
</form>
