<div class="container">
  <form>
    <div>
      <label for="searchBar">Search for a contact... </label>
    </div>
    <input
      type="text"
      name="searchBar"
      [(ngModel)]="this.searchTerm"
      (keyup)="searchDb()"
      #searchBar="ngModel"
      [class.error]="noContactsFound && searchBar.touched"
    />
  </form>

  <div class="contacts-container">
    <div *ngFor="let contact of contacts" class="contact-card">
      <a routerLink="/contacts/{{ contact.id }}">
        <h1>
          {{ contact.name }}
        </h1>

        <div *ngIf="contact.address" class="info">
          Address: {{ contact.address }}
        </div>

        <div
          *ngIf="contact.mobile || contact.work || contact.home"
          class="info"
        >
          Phone:
          <div *ngIf="contact.mobile" class="phone-info">
            Mobile: {{ contact.mobile }}
          </div>

          <div *ngIf="contact.work" class="phone-info">
            Work: {{ contact.work }}
          </div>

          <div *ngIf="contact.home" class="phone-info">
            Home: {{ contact.home }}
          </div>
        </div>

        <div *ngIf="contact.email" class="info">
          Email: {{ contact.email }}
        </div>

        <div *ngIf="contact.twitter" class="info">
          Twitter: {{ contact.twitter }}
        </div>

        <div *ngIf="contact.instagram" class="info">
          Instagram: {{ contact.instagram }}
        </div>

        <div *ngIf="contact.github" class="info">
          Github: {{ contact.github }}
        </div>
      </a>
    </div>
  </div>
</div>
